@inherits LayoutComponentBase


<div class="page">
    <AuthorizeView>
        <NotAuthorized>

        </NotAuthorized>
        <Authorized>
            <div style="background-image:none;background-color:white;" class="sidebar">
                <NavMenu />
            </div>
            
        </Authorized>
    </AuthorizeView>

    <main>
        <div class="top-row px-4" style="background-color:white">
            <AuthorizeView>
                <NotAuthorized>
                    <a href="/login">Login</a>
                </NotAuthorized>
                <Authorized>
                    <span class="points-box">Points: <b>@context.User.FindFirst("Points")?.Value</b></span>
               
                   
                    <a href="/profile" class="profile-picture"></a>
                </Authorized>


            </AuthorizeView>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
